/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img: url(../images/cover-image-dark.png);
  --header__bg-title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color-text: rgba(0, 0, 40, 1);
}

.theme-dark .content__title {
  color: var(--accent-color);
}

.theme-dark .decor-link {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-color: var(--accent-color);
}

.theme-dark .decor-link:focus-visible {
  border-color: var(--accent-color);
}

.theme-dark .header__bg-decoration-text {
  display: block;
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.theme-dark .bg-decor-figure-start {
  border-color: var(--accent-color);
}

.theme-dark .bg-decor-figure-end {
  border-color: var(--accent-color);
}
