/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--main-font-family), monospace;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-inline-size: 100vi;
  max-block-size: 100vb;
}

.decor-link {
  color: var(--text-color);
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.decor-link:hover {
  border: 1px solid var(--text-color);
}

.decor-link:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}
