/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
  --main-font-family: "IBM Plex mono";
  --header-bg-title-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-text: rgba(0, 0, 40, 1);
  --margin-between-section: 40px;
  --img-gap: 10px;
  --content-padding: 0 10px 10px;
  --header-padding: 10px;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-focus-color: rgba(255, 0, 112, 1);
  --color-link: rgba(241, 178, 206, 1);
  --title-color: rgba(255, 0, 112, 1);
  --bg-decor-display: block;
}
